<h1>Purchase subscription</h1>

<%= form_tag(purchase_process_path, method: "post") do %>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key=<%= ENV['STRIPE_PUBLIC_KEY'] %>
    data-amount="1000"
    data-name="Demo Site"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
<% end %>
